<footer class="footer">
    <div class="logos">
        <a href="https://www.instagram.com/jasminedanese/" target="_blank"><img src="/images/logos/instagram-logo-round.png" alt="instagram logo" class="logo1" height="35px" width="35px"></a>
        <a href="https://github.com/jasminedns" target="_blank"><img src="/images/logos/github logo.png" alt="github logo" class="logo2" height="35px" width="35px"></a>
    </div>
</footer>