<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<section class="main">
    <div class="bgimage">
        <div class="bgimage-grid">
            <p class="bgimage-text">Roam the globe,<br> feel the vibe</p>
        </div>
    </div>
    <div class="welcome--container">
        <p>
            Embark on a journey with us as we explore the most breathtaking destinations around the world. Whether you're a seasoned traveler or planning 
            your first adventure, our travel guide is here to inspire and guide you every step of the way. Let's roam the globe and feel the vibe together!
        </p>
        <h3>WELCOME TO ANIMES</h3>
    </div>
    <div class="destinations--container">
        <div class="destinations__title">
            <h3>FEATURED DESTINATIONS</h3>
        </div>
        <div class="destinations__postcards">
            <img src="/images/rome.jpg" alt="Image of Rome" width="100%" height="auto">
            <div class="postcard__description">
                <h4>Rome</h4>
                <p>Experience the grandeur and history of Rome, the Eternal City. Marvel at the ancient wonders of the Colosseum and the Roman Forum, and toss a coin into the iconic Trevi Fountain for good luck. Stroll through the charming streets of Trastevere and indulge in delicious Italian cuisine. Rome's rich cultural heritage and timeless beauty make it a must-visit destination.</p>
            </div>
            <img src="/images/kyoto.jpg" alt="Image of Kyoto" width="100%" height="auto">
            <div class="postcard__description">
                <h4>Kyoto</h4>
                <p>Step back in time in Kyoto, the cultural heart of Japan. With its ancient temples, serene gardens, and traditional tea houses, Kyoto is a haven of tranquility and beauty. Be sure to visit the Fushimi Inari Shrine and the Arashiyama Bamboo Grove for an unforgettable experience.</p>
            </div>
            <img src="/images/santorini.jpg" alt="Image of Santorini" width="100%" height="auto">
            <div class="postcard__description">
                <h4>Santorini</h4>
                <p>Discover the enchanting island of Santorini, known for its stunning sunsets and white-washed buildings. Explore the charming villages of Oia and Fira, and relax on the beautiful black sand beaches. Santorini's vibrant culture and breathtaking views make it a must-visit destination.</p>
            </div>
        </div>
    </div>
</section>
<%- include("../partials/footer.ejs") %>